@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: rgb(245, 245, 245);
}
.flex{
    display: flex;
    justify-content: space-between;
}
/* Nav related styles */
.header-nav{
    font-size: 32px;
    color: #0E0E0E;
    padding-left: 130px;
    padding-top: 0;
    padding-bottom: 31px;
    padding-right: 900px;
    /* border: 2px solid red; */
}
/* Button related styles */
.btn-01{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border-color: #006A50;
}
.btn-02{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;

}
.btn-03{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    background-color: #5490F5;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.btn-04{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    background-color: #09A15C;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.btn-05{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    background-color: #FFC239;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

/* Banner -01 section starts here */
.banner-01{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding-bottom: 80px;

}
.title{
    color: #0E0E0E80;
    font-size: 24px;
    font-weight: 500;
}
.container{
    padding-left: 60px;
    padding-top: 117px;
}
.content-01{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
}
.img-fluid{
    padding: 80px 60px;
}
.card-container{
    display: flex;
    gap: 24px;
    margin-left: 50px;
}
.card{
    box-shadow: 0px 4px 50px rgb(202, 196, 196);
    padding: 30px;
    border-radius: 16px;
    cursor: pointer;
}
.card:hover{
    background-color: lightgreen;
}
.vision{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 50px;
}
.paragraph{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 50px;
    padding-right: 50px;
}
.card-container-02{
    display: flex;
}
.card-container-02{
    gap: 24px;
    padding-left: 50px;
    padding-right: 50px;
}
.bg-color-01{
    background-color: #5490F533;
}
.bg-color-02{
    background-color: #C6E4D6;
}
.bg-color-03{
    background-color: #F7EBCF;
}

.quote-01{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 50px 25px;
}
.quote-container{
    margin-top: 50px;
    margin-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
.openion-container{
    padding-left: 50px;
    padding-right: 50px;
}
.openion{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
/* quote-container starts here */
.image{
    position: relative;
    bottom: 190px;
}
/* quote-container ends here */
/* Your openion Matters starts here */
.opinion{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
table th, table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
table th {
    font-size: 16px;
    color: #555;
  }
table td select {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
  }
.color{
    background-color: #C6E4D6;
  }
.margin{
    margin-left: 20px;
 }
 table option{
    text-align: center;
 }
.color-02{
    background-color: #C6E4D6;
 }

 /* recents news section starts here */
.recent-news-section{
    margin-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    
 }
.news{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
 }
.recent{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.recent-news{
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    border-radius: 24px;
    margin-top: 24px;
}
.margin-left{
    margin-left: 48px;
}
.margin-right{
    margin-right: 48px;
}
.img-02{
    margin: 48px 32px 48px 48px;
    border-radius: 24px;
}
.satelite{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}
.margin{
    margin-right: 500px;
    color: #0E0E0EB3;
}
.description-02{
    color: #0E0E0EB3;
}
.btn-06{
    color: #FFFFFF;
    background-color: #006A50;
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

/* Donate today section starts here */

.donate{
    text-align: center;
}
.heading{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
.donate-description{
    color: #0E0E0EB3
    font-size: 16px;
    font-weight: 400;
}

/* Donate Today section starts here */
.card-1{
    color: #0E0E0ECC;
    font-size: 40px;
    font-weight: 700;
    margin: 40px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 30px;
}
.card-2{
    color: #0E0E0ECC;
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 30px;
}
.card-3{
    color: #0E0E0ECC;
    font-size: 40px;
    font-weight: 700;
    margin: 40px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 30px;
}
.card-4{
    color: #0E0E0ECC;
    font-size: 40px;
    font-weight: 700;
    margin: 40px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 30px;
}
.card-1:hover,.card-2:hover,.card-3:hover,.card-4:hover{
    background-color: #09A15C;
}
.card-container{
    padding-left: 50px;
    padding-right: 50px;
}
.amount-01{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 32px;
}
.amount{
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    padding: 5px 10px;
}
.btn-07{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    justify-content: center;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.button-01{
    text-align: center;
}

/* Subscribe Newsletter section starts here */
.subscribe{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
.newsletter-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.email{
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    padding: 18px 40px 18px 40px;
    width: 600px;
    height: 35px;
}
.btn-08{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    width: 150px;
    height: 70px;
    margin-left: 0px;
    cursor: pointer;
    transition: 0.5s;
}
.note{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;

}
.footer-center{
    margin-top: 80px;
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 40px 80px 40px 80px;
}

/* bangladesh 2.0 section starts here */
.bangla{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.last-sec{
    background-color: #FFFFFF;
    padding: 50px 160px 50px 160px;
    width: 1200px;
    height: 226px;
}
.center{
    text-align: center;
}
.logo{
    margin: 0 18px;
}

/* bangladesh 2.0 section ends here */

/* mouse hover */
.btn-01:hover,.btn-02:hover,.btn-04:hover,.btn-06:hover,.btn-07:hover,.btn-08:hover{
    background-color: darkgreen;
}
.btn-03:hover{
    background-color: #0649bd;
}
.btn-05:hover{
    background-color: #fdb408;
}
.text-field{
    border: none;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    padding: 20px 465px 20px 465px;
}




